/* Grundlegendes Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #1e88e5; /* Helles Blau wie Home Assistant */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Kacheln */
.overview {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.tile {
    width: 30%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.green {
    background-color: #43a047;
}

.yellow {
    background-color: #ffeb3b;
}

.orange {
    background-color: #ff9800;
}

/* Kostenübersicht */
.cost-summary {
    text-align: center;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.cost-summary h3 {
    margin-bottom: 10px;
}

#monthlyCosts {
    font-size: 1.5em;
    color: #1e88e5;
}

/* Vertrag Liste */
#contractsList {
    margin-top: 20px;
    padding: 10px;
}

.contract-item {
    padding: 15px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contract-item:hover {
    background-color: #f0f0f0;
}
